<section class="p-4 sm:p-8 lg:p-16 bg-gray-100 rounded-lg shadow-lg mt-6 md:mt-8">

    <div class="flex flex-col lg:flex-row lg:items-center gap-8">
      <div class="lg:w-1/2">
        <b>About</b>
        <p>Welcome to Health Challenge Tracker</p>
        <p>Get fit and feel great with personalized workout plans and challenges.</p>
        <br>
        <p>Developed by Raghava Mamidi, a passionate Software developer.</p>
        <p>Contact me : </p>
        <a href="mailto:raghavamamidi18@gmail.com" class="text-blue-500 hover:text-blue-700 underline"><p>raghavamamidi18&#64;gmail.com</p></a>
      </div>
      <div class="hidden lg:block lg:w-1/2" >
        <img src="/about.jpeg" alt="about" width="50%" height="50%" class="rounded-lg shadow-md object-cover" >
      </div>
    </div>
  </section>
  
