<div class="relative flex h-[91vh]">
    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/home.jpg'); opacity: 9;"></div>
    
    <div class="relative z-10 text-white mx-4 md:mx-12 mt-16">
      <div class="items-center gap-2 hidden lg:flex">
        <img src="/logo.svg" alt="logo" class="w-7 h-7">
        <p class="logo text-xl">
          Health Challenge Tracker
        </p>
      </div>
      
      <h1 class="text-6xl heading font-bold mt-4">
        LET'S DO THIS <br> TOGETHER
      </h1>
  
      <p class="text-lg mt-6 mr-6">
        Take the first step towards a healthy life.
      </p>
  
      <button class="bg-[#FF6F61] text-white p-2 font-bold rounded mt-10">
        <a routerLink="/explore" class="flex items-center gap-1">
          <i class="pi pi-search" style="font-size: 1rem;"></i>
          View Workouts
        </a>
      </button>
    </div>
  </div>
  